{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="co-md-6 p-3">

            <div class="card "  style="width:12rem;">
                <img src="{{i.img.url}}" class="card=img-top" alt="" width="190"  height="150" >
                <div class="card-body" >
                    <h5 class="card-title" >{{i.name}}</h5>
                    <p class="card-text" >{{i.year}}</p>
                    <a class="btn btn-warning" href="{% url 'movieapp:detail' i.id %}"  class="btn btn-primary">Go somewhere</a>
                 </div>
            </div>
        </div>

        {% endfor %}

    </div>

{% endblock %}